<h2>Make a new celebrity</h2>

<form action="/celebrities/create" method="post">

  <input type="text" name="name" placeholder="Name: " value="Name" />
  <input
    type="text"
    name="occupation"
    placeholder="occupation: "
    value="Occupation"
  />
  <input
    type="text"
    name="catchPhrase"
    placeholder="catchPhrase: "
    value="Catch phrase"
  />

  <button>Create a celibrity</button>

</form>