<h2>All the movies</h2>

<ul>

  {{#each allMovies}}

    <li>
      <ul>
        <li>

          <a href="/movies/{{this.id}}"> {{this.title}}</a>

        </li>
      </ul>
    </li>

    <a href="/movies/{{this._id}}/edit">Edit</a>

  {{/each}}

</ul>